
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.MwwlDB.PaintingCategories.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new MWWLAdmin.MwwlDB.PaintingCategoriesGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>