{
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=MEGA-10; Initial Catalog=db435866756; User ID=dbo435866756; Password=KWwNpF7gx6Y0;",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.Categories",
                    "Identifier": "Categories",
                    "Module": "MwwlDB",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.PaintingInfo",
                    "Identifier": "PaintingInfo",
                    "Module": "MwwlDB",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Paintings",
                    "Identifier": "Paintings",
                    "Module": "MwwlDB",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Prices",
                    "Identifier": "Prices",
                    "Module": "MwwlDB",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Products",
                    "Identifier": "Products",
                    "Module": "MwwlDB",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Texts",
                    "Identifier": "Texts",
                    "Module": "MwwlDB",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                }
            ]
        }
    ],
    "KDiff3Path": "C:\\Program Files\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\MWWLAdmin\\MWWLAdmin.Web\\MWWLAdmin.Web.csproj",
    "RootNamespace": "MWWLAdmin",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "GenerateSSImports": false,
    "GenerateTSTypings": true,
    "GenerateTSCode": true,
    "RowFieldsSurroundWithRegion": false,
    "GenerateRow": true,
    "GenerateColumn": true,
    "GenerateForm": true,
    "GenerateEndpoint": true,
    "GenerateRepository": true,
    "GeneratePage": true,
    "GenerateGrid": true,
    "GenerateDialog": true,
    "GenerateGridEditor": true,
    "GenerateGridEditorDialog": true,
    "GenerateLookupEditor": true,
    "MaximizableDialog": false
}